<h2>Nomis search</h2>

<form method="post">
    <label>Noms Id</label>
    <input type="text" name="nomsid">
    <label>DOB</label>
    <input type="text" name="dob">
    
    <input type="submit">
</form>

{{ data }}